*{margin:0;padding:0;}
html,body
{
	font:12px/150% Arial,Verdana;
}
.content{
	background:url(../image/login.jpg);
	background-size: cover;
	width:1280px;
	height:559px;
}
.box{
	margin:60px 18% 60px 18%;
	float:right;
	padding:30px;
	background:white;
	background-color:rgba(255,255,255,0.9);
	border-radius:15px;
	
}
.item{
	height:60px;
	margin-buttom:40px;
}
.item input{
	line-height:40px;
	width:260px;
	border:none;
	border-bottom: 1px solid #59c2c5;
	border-radius:3px;
}
.item1{
	font-size:15px;
	height:40px;
}
.btn{
	display:block;
	height:50px;
	color:#fff;
	background:#59c2c5;
	width:265px;
	font-size:16px;
	line-height:30px;
	text-align:center;
	border-radius:10px;
	border:none;
}